*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    background-color: #6F6AF7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 10px 20px;
}
.brand-name {
    font-family: Delius Unicase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.25rem;
    padding: 0px 10px;
}
.nav-list-container {
    font-family: DM Sans;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
}
li {
    padding: 0px 15px;
}
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.search-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
}
.input-search {
    border-radius: 63px;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 10px 15px;
}
.input-search::placeholder{
    color: #9F9F9F;
    font-weight: 400;
}
.hamburger-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}
.hamburger-icon {
    height: 24px;
    width: 44px;
}

/*          image section        */
.image-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-family: DM Sans;
    color: #6F7373;
    width: 90vw;
    /* margin: 0px 80px; */
}
.banner-img {
    height: 360px;
    width: 400px;
}
.banner-right-container {
    background-color: #E5D8FF;
    border: 6px #FFFFFF solid;
    border-radius: 20px;
    height: 400px;
}






/*          cards section    */
.cards-container {
    display: flex;
    flex-direction: row;
}